<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Allegheny County Emergency Services</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="user[viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- style -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/skin-blue.min.css">
  <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>ACES</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Allegheny County</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="https://i2.wp.com/hoopieworld.com/wp2/wp-content/uploads/2014/01/allegheny-county-911.gif" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">ACES</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="https://i2.wp.com/hoopieworld.com/wp2/wp-content/uploads/2014/01/allegheny-county-911.gif" class="img-circle" alt="User Image">
                
                  Allegheny County Emergency Services
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://i2.wp.com/hoopieworld.com/wp2/wp-content/uploads/2014/01/allegheny-county-911.gif" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          ACES</p>
        </div>
      </div>
      <!-- search form -->
      <!-- <form action="search" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="user[q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="user[search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Form Options</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="search"><i class="fa fa-link"></i> <span>Form Lookup</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
    <form action='/commit_form' enctype="multipart/form-data" method="post">
    <h3>General Information</h3>
    Name: <input type ="text" name ="user[name]"><br>
    Address: <input type ="text" name ="user[street_address]"><br>
    <!-- PDA Date: <input type ="date" name ="pda_date"><br>
    Date: <input type ="date" name ="date"><br> -->
    Date of Damage: <input type ="date" name ="user[date_damaged]"><br>
    County: <input type ="text" name ="user[county]"><br>
    Municipality: <input type ="text" name ="user[municipality_name]"><br>
    City: <input type ="text" name ="user[city]"><br>
    <!-- Code: <input type ="text" name ="municipality_code"><br> -->
    Zip Code: <input type ="number" name ="user[zip_code]"><br>
    Longitude: <input type ="number" name ="user[longitude]"><br>
    Latitude: <input type ="number" name ="user[latitude]"><br>
    Type of Disaster: <input type ="text" name ="user[incident_type]"><br>
    Basement Water Height(inches): <input type="number" name="user[basement_water]"><br>
    First Floor Water Height(inches): <input type="number" name="user[first_floor_water]"><br>
    Location Notes: <textarea rows="4" cols="50" name="user[location_notes]"></textarea><br>
    <h3>Primary Home?</h3>
      <input type="radio" name="user[primary_home]" value="yes">Yes<br>
      <input type="radio" name="user[primary_home]" value="no">No<br>
    <h3>Renter?</h3>
      <input type="radio" name="user[renter]" value="yes">Yes<br>
      <input type="radio" name="user[renter]" value="no">No<br>
    <h3>Flood Insurance?</h3>
      <input type="radio" name="user[flood_insurance]" value="yes">Yes<br>
      <input type="radio" name="user[flood_insurance]" value="no">No<br>
    <h3>Home or Mobile?</h3>
      <input type="radio" name="user[homeormobile]" id="homeormobile" value="home" onclick="homeOrMobile('Home');">Home<br>
      <input type="radio" name="user[homeormobile]" id="homeormobile" value="mobile" onclick="homeOrMobile('Mobile');">Mobile<br>
    <!-- <h3>Market Value of Property</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_mv">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_mv">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_mv">
    <h3>Estimated Disaster Loss in Dollars</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_dl">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_dl">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_dl">
    <h3>Amount of Insurance</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_ai">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_ai">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_ai">
    <h3>Dollar Amount of Uninsured loss</h3>
      <h4 class="tabbed">Structure</h4>
      <input class ="tabbed" type="number" name="user[structure_ul">
      <h4 class="tabbed">Contents</h4>
      <input class ="tabbed" type="number" name="user[contents_ul">
      <h4 class="tabbed">Land And Improvements</h4>
      <input class ="tabbed" type="number" name="user[land_ul">
      <h4 class="tabbed">Total</h4>
      <input class="tabbed" type=number name="user[total_ul"> -->
<!--     <h3>Percent of Uninsured Loss</h3>
    <h4 class="tabbed">structure %uninsuredloss</h4>
    <h4 class="tabbed">contents %uninsuredloss</h4>
    <h4 class="tabbed">land and inprovements %uninsuredloss</h4> -->
<table class="tg">
  <tr>
    <th class="tg-baqh">System</th>
    <th class="tg-baqh" colspan="2">Damaged</th>
    <th class="tg-baqh" colspan="2">%R.C.</th>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-baqh">Home</td>
    <td class="tg-baqh">Mobile <br>Home</td>
    <td class="tg-baqh">Home</td>
    <td class="tg-baqh">Mobile <br>Home</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Foundation</td>
    <td class="tg-baqh"><input type="number" size="1" maxlength="1" min="0" max="7" name="user[foundation_home]" value=0 id="foundation_home" onchange="onHomeChanged('foundation_home');" data-toggle="tooltip" title="Home Foundation   If foundation is undermined, partially missing, sagging or shifted, it is damaged.  Conjunctive Damage: If these conditions are apparent, there is a good chance of damage to floor, plumbing, electrical, heating and walls system."></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">7</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Floor(frame)</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="16" name="user[floor_frame_home]" value=0 id="floor_frame_home" onchange="onHomeChanged('floor_frame_home');" data-toggle="tooltip" title="Home Floor System   If shifted, sagging or has been submerged in water, it is damaged.
Conjunctive Damage: If damaged, the exterior wall, interior wall, and finish, electrical and heating systems are also damaged."></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="20" name="user[floor_frame_mobile]" value="0" id="floor_frame_mobile" onchange="onMobileChanged('floor_frame_mobile');" data-toggle="tooltip" title="Mobile Home Floor (Frame)   If the frame is twisted, buckled or broken, it is damaged.  Conjunctive Damage: If the frame is damaged, there is almost always damage to the wall, roof and interior wall systems.  (IF OFF FOUNDATION DUE TO FLOOING OR WIND - LIST AS DESTROYED)"></td>
    <td class="tg-baqh">16</td>
    <td class="tg-baqh">20</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Exterior Walls</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="14" name="user[exterior_walls_home]" value=0 id="exterior_walls_home" onchange="onHomeChanged('exterior_walls_home');" data-toggle="tooltip" title="Home Exterior Walls   If missing, shifted, distorted or cracked, it is damaged.  Conjunctive Damage: If exterior wall system is damaged, there is a good chance the roof, electric, plumbing and interior wall systems are damaged."></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="35" name="user[exterior_walls_mobile]" value="0" id="exterior_walls_mobile" onchange="onMobileChanged('exterior_walls_mobile');" data-toggle="tooltip" title="Mobile Home Exterior Walls   If wall studs are broken, missing, or distorted, the system is damaged.  Damaged is minimal if ONLY the exterior covering or skin is damaged.  Conjunctive Damage: If the wall system is heavily damaged, the roof and interior wall systems are usually damaged."></td>
    <td class="tg-baqh">14</td>
    <td class="tg-baqh">35</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Roof</td>
    <td class="tg-baqh"><input type="number" size="1" maxlength="1" min="0" max="9" name="user[roof_home]" value=0 id="roof_home" onchange="onHomeChanged('roof_home');" data-toggle="tooltip" title="Home Roof   If missing, sagging, collapsed, or submerged, it is damaged.  Conjunctive Damage:  All systems damaged if roof is flood damaged; exterior wall, electrical and interior wall systems are usually damaged."></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="20" name="user[roof_mobile]" value="0" id="roof_mobile" onchange="onMobileChanged('roof_mobile');" data-toggle="tooltip" title="Mobile Home Roof   If roof covering or framing is missing, torn or punctured, it is damaged.  Conjunctive: If the roof system is damaged, there is usually damage to the interior wall system.  Severe damage to the roof system's framing usually results in exterior wall system."></td>
    <td class="tg-baqh">9</td>
    <td class="tg-baqh">20</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Interior Walls</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[interior_walls_home]" value=0 id="interior_walls_home" onchange="onHomeChanged('interior_walls_home');" data-toggle="tooltip" title="Home Interior Walls   If you can see interior walls and finish, they are damaged.  Damage is usually conjunctive with damage to four observable systems."></td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="25" name="user[interior_walls_mobile]" value="0" id="interior_walls_mobile" onchange="onMobileChanged('interior_walls_mobile');" data-toggle="tooltip" title="Mobile Home Interior Walls   If the interior walls and built-ins are missing, shifted, or have collapsed, the system is damaged.  Water usually causes extensive damage.  Conjunctive Damage: Almost always involves damage to the other three systems."></td>
    <td class="tg-baqh">28</td>
    <td class="tg-baqh">25</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Plumbing</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="10" name="user[plumbing_home]" value=0 id="plumbing_home" onchange="onHomeChanged('plumbing_home');" data-toggle="tooltip" title="Home Plumbing   Water supply and/or waster water items are broken or contaminated.  Damage is usually conjunctive with foundation, floor and exterior wall system damage."></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">10</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Heating/A.C.</td>
    <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="10" name="user[heating_ac_home]" value=0 id="heating_ac_home" onchange="onHomeChanged('heating_ac_home');" data-toggle="tooltip" title="Home Heating and A/C   If submerged, it is damaged; when the fuel source, the A.C./Heating unit, vents and/or the heat distribution systems are missing, disconnected or crushed, the system is damaged."></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">10</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">Electrical</td>
    <td class="tg-baqh"><input type="number" size="1" maxlength="1" min="0" max="6" name="user[electrical_home]" value=0 id="electrical_home" onchange="onHomeChanged('electrical_home');" data-toggle="tooltip" title="Home Electrical   If submerged, it is damaged; when the service entrance or any part of the interior distribution system is missing or disconnected, the system is damaged."></td>
    <td class="tg-4luf"></td>
    <td class="tg-baqh">6</td>
    <td class="tg-4luf"></td>
  </tr>
  <tr>
    <td>Total % Damaged</td>
    <td id="home_total_pct_damaged">0
    <td id="mobile_total_pct_damaged">0
    <td colspan="2">
  </tr>
  </table><br>
  <table class="tg">
    <tr>
      <th class="tg-s6z2" colspan="3">Damage Category</th>
    </tr>
    <tr>
      <td class="tg-943m"></td>
      <td class="tg-s6z2">Home</td>
      <td class="tg-s6z2">Mobile<br>Home</td>
    </tr>
    <tr>
      <td class="tg-s6z2">Destroyed</td>
      <td class="tg-s6z2"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[destroyed_home]" id="destroyed_home" data-toggle="tooltip" title="Home Destroyed   All major structural systems damaged or destroyed; habitation is not possible"></td>
      <td class="tg-s6z2"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[destroyed_mobile]" id="destroyed_mobile" data-toggle="tooltip" title="Mobile Home Destroyed   Two or more systems have substantial damage."></td>
    </tr>
    <tr>
      <td class="tg-baqh">Major</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[major_home]" id="major_home" data-toggle="tooltip" title="Home Major Damage   Four or more structural systems are damaged or destroyed resulting in over 45 percent total damage.  Extensive repairs are necessary, and habitation will not be possible for at least 30 days after the start of repairs."></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[major_mobile]" id="major_mobile" data-toggle="tooltip" title="Mobile Home Major Damage   One system has substantial damage."></td>
    </tr>
    <tr>
      <td class="tg-baqh">Minor</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[minor_home]" id="minor_home" data-toggle="tooltip" title="Home Minor Damage   One to three structural systems damaged; habitation possible now or within 30 days of the start of temporary or permanent repairs."></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[minor_mobile]" id="minor_mobile" data-toggle="tooltip" title="Mobile Home Minor Damage   One or two systems have superficial damage."></td>
    </tr>
    <tr>
      <td class="tg-baqh">Affected</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[affected_home]" id="affected_home" data-toggle="tooltip" title="Home Affected   Some damage to structure and suspected damage to contents.  Structure is usable without repairs (Minor basement flooding)."></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[affected_mobile]" id="affected_mobile" data-toggle="tooltip" title="Mobile Home Affected   Some damage to structure and suspected damage to contents.  Structure is usable without repairs (Minor basement flooding)."></td>
    </tr>
    <tr>
      <td class="tg-baqh">Inaccessible</td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[inaccessible_home]" id="inaccessible_home" data-toggle="tooltip" title="Home Inaccessible   This group includes homes that are inaccessible by normal means, due to disaster-related road closures (e.g., bridge out, road flooded or blocked by landslide, mudslide, severe erosion, washed out, etc.)"></td>
      <td class="tg-baqh"><input type="number" size="2" maxlength="2" min="0" max="28" name="user[inaccessible_mobile]" id="inaccessible_mobile" data-toggle="tooltip" title="Mobile Home Inaccessible   This group includes mobile homes that are inaccessible by normal means, due to disaster-related road closures (e.g., bridge out, road flooded or blocked by landslide, mudslide, severe erosion, washed out, etc.)"></td>
    </tr>
  </table><br>
  <input type="file" name="user[image]" accept="image/*">
  <input type="submit">
</form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-4luf{background-color:#656565;text-align:center;vertical-align:top}
.tg .tg-s6z2{text-align:center}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-943m{background-color:#656565;text-align:center}
</style>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="js/app.min.js"></script>

<script src="js/calc.js"></script>
</body>
</html>
